<h1>Forgot Password Page</h1>
<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= form_for(@user, url: '/forgot_password') do |f| %>
  <div>
    <%= f.email_field :email, placeholder: "email", required: true %>
  </div>
  <div>
    <button type="submit">Submit</button>
  </div>
<% end %>
<a href="/login">Login</a>